.container{
        display: flex;
        justify-content: center;
        margin-top: 150px;
        height: 100vh;
    
}
.sec-container{
    display: flex;
    background: linear-gradient(180deg, pink, #e1ffea22 100%);
  width: 80%;
  align-items: center;
  margin-left: 51px;
  flex-direction: column;

}
.sec-container h1{
    font-size: 36px;
    margin-top: 70px;


}
.sec-container p{
    font-size: 16px;
  font-weight: 500;
}
.sec-container input{
    width: 400px;
  height: 28px;
  border-radius: 21px;
  border: 2px solid rgb(43, 42, 42);
}
.sec-container button{
    margin-left: 19rem;
  height: 34px;
  border-radius: 24px;
  font-size: 18px;
  padding: 2px 16px;
  margin-top: -34px;
  border: 2px solid rgb(43, 42, 42);
  background-color: green;
  color: white;
}